# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/

# Jupyter
.ipynb_checkpoints/

# Model files
*.keras
*.h5
*.joblib

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Dataset
data/aclImdb/
data/imdb_train.csv
data/imdb_test.csv

# Trained models / artifacts
model/*.keras
model/*.h5

# Logs / temp
logs/
tmp/